@page
@model ReadingListManager.Pages.UserBookList.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>myShelf</h1>

<p>
    <a asp-page="Create">Add New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserBookEntry[0].Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBookEntry[0].Book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBookEntry[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBookEntry[0].Book.SeriesInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBookEntry[0].Book.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserBookList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seriesInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.userBookEntryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.userBookEntryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.userBookEntryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
